extends layout

block content
  h1 Item: #{item.name}
  img(src=item.imgUrl, alt="No photo")
  p #[strong Supplier: ]
    a(href=item.supplier.url) #{item.supplier.name}
  p #[strong Quantity:] #{item.quantity}
  p #[strong Price:] #{item.price}$
  p #[strong Category: ]
   a(href=item.category.url) #{item.category.name}
  
  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item